.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loginDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.errorDiv {
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
}

.buttonsDiv {
  display: flex;
  justify-content: space-around;
}

.registrationSuccesful {
  color: green;
}
