.mainDiv {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row nowrap;
}

.tableDiv {
  display: flex;
  flex: 4;
  flex-flow: column nowrap;
  padding: 1rem;
}

.sidebarDiv {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem;
}
